@charset "UTF 8";


body {
   
    background-color: rgb(230, 232, 230);
    font-family: Arial, Helvetica, sans-serif;

}

header {
  background: linear-gradient(rgba(42, 42, 230, 0.844), rgba(36, 36, 176, 0.941));
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;

  margin: auto;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.325);
   

  
}

.subtitulo {
   
    color: blue;
    text-align: center;
}



main {
    background-color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;  
 
}

.apresentacao { 
    text-align: justify;
    padding: 10px;
    font-size: large;
    line-height: 1.5em;
  text-indent: 30px;
    
}

.paises {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: darkgreen;
}

.lista {

    text-align: center;
    width: max-content;
    margin: 0 auto;
   
}

li {
    text-align: left;
    margin-bottom: 20px;
    padding: 20 15px;
}

img{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    display: block;
      
}

#treino{
    height: 300px;
    width: 670px;
}
    

table {
    margin: auto;
    border: solid 2px;
    
    
    
}
td {
    border: 2px solid black;
    padding: 15px;
    
}

h3 {
    text-align: center;
    
}
 div{
    text-align: center;
}

a:hover {
  color:white;
  background-color:rgb(19, 123, 19);
  font-weight: bolder;
    
}

.botao {
   font-size: 16px;
   cursor: pointer;
   margin: 10px;
   padding: 10px 10px;
   background-color: rgb(64, 249, 79);
   color: white;
   font-weight: bolder;
   border: none;
  

}


